/* You can add global styles to this file, and also import other style files */

body{
  background-color: #222222;
  color: white;
  padding: 2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.table {
  margin-top: 10px
}

a {
  text-decoration: none; 
}
a:hover {
  text-decoration: underline;
}